@import "~bootstrap/scss/bootstrap.scss";

.contador{
    //width: 30%;
    font-size: 30px;
    text-align: center;
    margin-top: 15rem
    
}

p {
    font-size: 30px;
    margin: 3rem
}

.contador div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #a06060;
    color: white;
    padding: 20px;
    margin: 1px;
}

   